mixin slide
	.slide
		.text__slider
			span.title__slider Первая оценочная
				br
				span компания Москвы
			p.description__slider  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Напоивший семантика ipsum, использовало рукописи.
			button.main-button.button__slider Список услуг
		.img-wrap__slider
			img.img__slider(src="images/slide-img-1.png", alt="")